<div class="authWelcome">
    <div class="authText">
        <h2 class="p-text-center">Welcome again</h2>
        <div class="p-d-block"><h3>Please Enter your mobile number and password so you can follow and manage :</h3> </div>
        <ul>
            <li><h4>Your Account and Information</h4>
            </li>
            <li><h4>Your Contracts</h4>
            </li>
            <li><h4>Follow up your visits</h4>
            </li>
            <li><h4>Manage Your Requests</h4>
            </li>
            <li><h4>Communicate with technical support</h4>
            </li>
          </ul>
    </div>
</div>