<div class="css-11ojfo7" id="headerClass">
    <nav class="navbar navbar-expand-lg navbar-light bg-light header-navbar">
        <a class="navbar-brand" href="#">
            <img class="header-img img-fluid" style="height:70px;" src="/assets/new_NewThem.png" alt="">
            <!-- InnovationStaff -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Hader (Hourly)</a>
                      <a class="dropdown-item" href="#">Manazel (Monthly)</a>
                      <a class="dropdown-item" href="#">Hader (Home)</a>
                      <a class="dropdown-item" href="#">Companies Sector</a>
                    </div>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Offers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Branches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <div class="nav navbar-nav navbar-right">
                    <li *ngIf="isAuthenticated" class="nav-item">
                        <a style="cursor: pointer;" class="nav-link" (click)="onLogout()">Logout</a>
                    </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="#">عربى</a>
                </li>
            </ul>
        </div>
    </nav>
</div>