.header-navbar {
    /* background-color: #3f729b !important; */
    /* background: linear-gradient(#2b5876, #2196f3) !important;
    font-weight: 400;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    display: flex;
    padding: .5rem 1rem;
    font-family: "Roboto", sans-serif;
    height: 100px;
    font-size: 20px; */
    position: fixed;
    height: 70px;
    width: 100%;
    right: 0px;
    left: 0px;
    top: 0px;
    /* border-bottom: 1px solid rgb(235, 237, 240) !important; */
    /* background: rgb(255, 255, 255) !important; */
    background: rgb(33 150 243) !important;
    z-index: 999;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}

.navbar-brand{
    color: rgb(0, 85, 217);
}
.nav-item .nav-link {
    /* color: white; */
    color: rgb(78 98 131);
    font-size: 18px;

}
.nav-link{
    color: white !important;
}

.nav-item {
    float: left;
    /* height: 100px !important; */
    /* margin-top: 50px !important; */
}

.nav-bar a {
    display: block;
    text-align: center;
    width: 150px;
    /* fixed width */
    text-decoration: none;
}

.header-img {
    height: 100px;
    ;
}
.css-11ojfo7{
    height: 70px;
    position: relative;
}