.headerCard{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    background: #e3f2fd;
    padding:1rem;
    border-radius: .3rem;
    box-shadow: 0 3px 3px -2px rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%);
}