.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}



.p-card-title .ng-star-inserted {
    text-align: center;
}



:host ::ng-deep .p-dropdown {
    width: 100%;
}
:host ::ng-deep .p-inline-message{
    justify-content: left;
}