<app-header></app-header>
<!-- <p-progressSpinner></p-progressSpinner>
<p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner> -->
<!-- <p-progressSpinner></p-progressSpinner> -->
<!-- <div class="sk-chase">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
</div> -->
<!-- <app-stepper></app-stepper> -->
<router-outlet></router-outlet>
<app-footer></app-footer>
<app-my-loader></app-my-loader>