<div class="stepsdemo-content">
  <p-card>
    <ng-template pTemplate="title"> Pay Online </ng-template>
    <ng-template pTemplate="content">
      <div class="p-grid">
        <div class="p-col-6">
          <div class="p-field">
            <div class="p-col-4 p-d-inline p-mr-6">
              <p-card styleClass="walletBalance">
                <div class="lblWalletBalance">
                  <span class="p-d-block p-mb-3">Current Wallent Balance 1202.50 SAR . You Can Pay With</span>
                  <span class="lblWalletBalanceAmount">asd</span>
                </div>
              </p-card>
            </div>
          </div>
          <div class="p-field">
            <div class="p-col-4 p-d-inline p-mr-6">
              <span>House Type: </span>
            </div>
            <div class="p-col-4 p-d-inline p-mr-6">
              <span>House Number: </span>
            </div>
          </div>
        </div>
        <div class="p-col-1">
          <i class="pi pi-check-circle p-mt-2 iconCircle"></i>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="p-col-12"></div>
      <div class="p-grid p-nogutter p-justify-between">
        <p-button label="Back" icon="pi pi-angle-left"></p-button>
        <p-button label="Next" icon="pi pi-angle-right" iconPos="right">
        </p-button>
      </div>
    </ng-template>
  </p-card>
</div>
