
.txtSearch{
    display: flex   !important;
}
:host ::ng-deep .p-dropdown {
    width: 15rem;
}
:host ::ng-deep .p-button {
    margin-right: .5rem;
    width: 12rem;
}
.filterForm{
    background: #e6e6e6;
    padding: 1.2rem;
    border-radius: .5rem;
    margin: 0.3rem;
}