<div class="p-d-block p-mb-3 employeeHeader">
    {{employee.jobTitle}} Data
</div>
<div class="p-d-block p-mx-2 p-mb-2 fs1rem">
    <i class="pi pi-info-circle p-mr-2"></i>
    <span class="p-text-bold">Name :</span>
    <span>{{employee.name}}</span>
</div>
<div class="p-d-block p-mx-2 p-mb-2 fs1rem">
    <i class="pi pi-info-circle p-mr-2"></i>
    <span class="p-text-bold">Nationality :</span>
    <span>{{ employee.nationalityName}}</span>
</div>
<div class="p-d-block p-mx-2 p-mb-2 fs1rem">
    <i class="pi pi-info-circle p-mr-2"></i>
    <span class="p-text-bold">Gender :</span>
    <span>{{employee.sex}}</span>
</div>
<div class="p-d-block p-mx-2 p-mb-2 fs1rem">
    <i class="pi pi-info-circle p-mr-2"></i>
    <span class="p-text-bold">Marital Status :</span>
    <span>{{employee.maritalStatus}}</span>
</div>