:host ::ng-deep .custom-scrolltop {
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    background-color: var(--primary-color);
}

:host ::ng-deep .custom-scrolltop:hover {
    background-color: var(--primary-color);
}
:host ::ng-deep .p-scrollpanel-bar-y {
    height: 1px;
}

:host ::ng-deep .p-scrollpanel .p-scrollpanel-bar {
    background-color: #2196f3 !important;
}

:host ::ng-deep .p-scrollpanel-bar-x {
    background-color: #2196f3 !important;
    opacity: 1;
    transition: background-color .2s;
}
:host ::ng-deep .p-card-content{
    border-bottom: 1px solid rgb(217, 221, 228);
}
.mb10rem{
    margin-bottom: 10rem;
}